$color-red: hsl(0, 100%, 74%);
$color-green: hsl(154, 59%, 51%);
$color-green-hover: hsl(155, 34%, 53%);
$accent-blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);
$corner-radius: 8px;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  background: url(images/bg-intro-mobile.png);
  background-color: $color-red;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

main {
  margin: 6rem 2rem;
  text-align: center;
}

.article__section {
  h1 {
    font-size: 2rem;
    margin: 0 1.2rem 2rem 1.2rem;
  }

  p {
    margin-bottom: 3rem;
    line-height: 1.8rem;
  }
}

.signup__section {
  .form__title__container {
    background-color: $accent-blue;
    padding: 1rem 3rem;
    box-shadow: 0px 5px 10px 0px hsla(0, 0%, 16%, 0.4);
    margin-bottom: 1.5rem;
    border-radius: $corner-radius;
  }

  .form__title {
    font-weight: 600;

    .form__title-span {
      color: $grayish-blue;
      font-weight: 500;
    }
  }

  .form__content {
    width: 100%;
    background-color: #fff;
    padding: 1.5rem;
    box-shadow: 0px 5px 10px 0px hsla(0, 0%, 16%, 0.4);
    border-radius: $corner-radius;

    form {
      width: 100%;

      .input__container {
        position: relative;
        min-width: 100%;
        margin-bottom: 1.5rem;

        input {
          display: block;
          width: 100%;
          padding: 1rem 2rem 1rem 1rem;
          border: 1px solid $grayish-blue;
          border-radius: 6px;
        }

        input::placeholder {
          color: $dark-blue;
          font-weight: 600;
        }

        img {
          position: absolute;
          top: 12px;
          right: 20px;
        }

        .error__message {
          position: absolute;
          bottom: -20px;
          right: 0;
          color: $color-red;
        }

        img,
        .error__message {
          opacity: 0;
        }
      }
    }

    .input__container.error .error__message{
        opacity: 1;
    }

    #submit {
      width: 100%;
      background: transparent;
      background-color: $color-green;
      border: none;
      padding: 1rem 2rem 1rem 1rem;
      border-radius: 6px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 400;
      transition: 0.3s;
      cursor: pointer;
    }

    #submit:hover {
      background-color: $color-green-hover;
    }

    p {
      color: $grayish-blue;
      font-size: 0.75rem;
      font-weight: 300;
      margin-top: 1rem;

      span {
        color: $color-red;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 765px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
    main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 3rem;
      justify-content: center;
      max-width: 1100px;

      .article__section {
        text-align: left;

        h1 {
          margin: 0;
          margin-bottom: 2rem;
          font-size: 3rem;
          line-height: 3rem;
        }
      }
    }

    .signup__section {
      .form__content {
        padding: 2.5rem;
        form {
          .input__container {
            margin-bottom: 2.5rem;
          }
        }
      }
    }
  }
}
